@page
@model CandidateManagement_GUI.Pages.HrAccountPages.EditModel

@{
    ViewData["Title"] = "My Profile";
    ViewData["ActivePage"] = "MyProfile";
    string? roleId = HttpContext.Session.GetString("RoleID"); 
    string? emailUser = HttpContext.Session.GetString("EmailUser") ?? "";
    if (roleId != null && !roleId.Equals("1"))
    {
        Response.Redirect("/Error");
    }

}

<h1 class="text-center mt-4 text-primary">@ViewData["Title"]</h1>

<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Hraccount.Email" />
            <div class="mb-3">
                <label asp-for="Hraccount.FullName" class="form-label fw-bold"></label>
                <input asp-for="Hraccount.FullName" class="form-control" />
                <span asp-validation-for="Hraccount.FullName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Hraccount.Password" class="form-label fw-bold"></label>
                <input asp-for="Hraccount.Password" class="form-control" />
                <span asp-validation-for="Hraccount.Password" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
