@page
@model IndexModel
@{
    ViewData["Title"] = "Candidate Profile Management";
}

<div class="text-center">
    <h1 class="text-center mt-4 text-primary">Welcome to Candidate Profile Management</h1>
</div>
